.ellipse {
    position: absolute; /* FIX THIS */
    z-index: 0;
    overflow: visible;
    margin-left: auto;
    margin-right: auto;
    opacity: 75%;
}

.dashboard-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
    z-index: 1;
}

.profile-pic {
    width: 90px;
    height: 90px;
    border-radius: 45px;
    margin-right: 10px;
}

.dashboard-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 10px
}

.bold {
    font-weight: bold;
}
.large {
    font-size: 1.5rem;
}

.suggested-actions {
    color: white;
    background-color: #25BCF5;
    text-align: left;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0px 0px 5px 1px rgb(196, 196, 196);
    max-width: 60%;
}

.suggestion {
    margin: 5px 0 5px 0;
}

input {
    margin-left: 0;
    margin-right: 5px;
}

.gray-small {
    color: #878686;
    font-size: 1rem;
}

.left {
    position: relative;
    left: -225px;
}

.sentiment-chart {
    margin-top: 15px;
    background: black;
    color: white;
    padding: 150px;
}

.button-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.green-button {
    background-color: #9EC95D;
    color: white;
    font-size: 1rem;
    border-radius: 25px;
    padding: 10px 20px;
    font-weight: bold;
    margin: 0px 20px;
}
.green-button:link {
    text-decoration: none;
}
.green-button:visited {
    text-decoration: none;
}
.green-button:hover {
    box-shadow: 0px 0px 5px 1px rgb(196, 196, 196);
}
.green-button:focus {
    outline: none;
}

.space-bottom {
    margin-bottom: 30px;
}