body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
  
.App {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-left: auto;
    margin-right: auto;
}

.nav {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #eff0f0;
    box-shadow: -10px 0px 5px 3px rgb(207, 207, 207);
    z-index: 10;
    top: 0;
}

.nav-button {
    background: none;
    border: none;
    margin: 10px 25px 10px 25px;
    border-radius: 5px;
    padding: 5px 5px;
}
.nav-button:focus {
    outline: none;
    background: none;
}

.nav-button-link:hover {
    background: #dadada;
}

.no-nav {
    position: fixed;
    top: 0;
}

.circle-top {
    position: fixed;
    left: 0;
    overflow: visible;
    z-index: 0;
}

.circle-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    overflow: visible;
    z-index: 0;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    margin-top: 50px;
}

.homepage-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 50px 10px 0px 25px;
    width: 350px;
}

.welcome {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    text-align: left;
    position: relative;
    z-index: 1;
}

.your-courses {
    font-weight: bold;
    font-size: 1rem;
    color: #8C8C8C;
    margin: 15px 0px 15px 0px;
    text-align: left;
    width: 380px;
    position: relative;
    left: 30px;
    z-index: 1;
}

.plus-button {
    background: none;
    border: none;
    border-radius: 100px;
    padding: 0.1875rem 0.625rem 0.1875rem 0.625rem;
    font-size: 1.5rem;
}
.plus-button:focus {
    outline: none;
    background: none;
}
.plus-button:hover {
    background: #f1f1f1;
}

.class-name-form {
    width: 105px;
    position: relative;
    bottom: 2px;
}

.class-icon-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 450px;
    margin-top: 50px;
    position: relative;
    z-index: 1;
}

.class-icon {
    background-color: turquoise;
    height: 200px;
    width: 150px;
    margin: 12px 5px 12px 5px;
    overflow: hidden;
    border-radius: 20px;
    color: white;
}
.class-icon:hover {
    box-shadow: 0px 0px 5px 1px rgb(196, 196, 196);
}

.blob {
    position: relative;
    top: -15px;
    left: 30px;
    margin-bottom: 15px;
    z-index: 2;
}

.class-name {
    position: relative;
    left: -5px;
    z-index: 2;
}

.class-mover {
    position: relative;
    bottom: 115px;
    left: 123px;
    z-index: 3;
}

/* addClass.html */

.hide {
    display: none;
}

.add-class-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    max-width: 450px;
    margin-top: 50px;
    position: relative;
    z-index: 1;
    font-size: 0.9375rem;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.new-class-name {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    color: white;
}

.no-shadow:hover {
    box-shadow: none;
}

.add-class-button {
    background: none;
    border: solid 1px #dfdfdf;
    border-radius: 100px;
    padding: 0.1875rem 0.625rem 0.1875rem 0.625rem;
    font-size: 1.2rem;
}
.add-class-button:focus {
    outline: none;
    background: none;
}
.add-class-button:hover {
    background: #f1f1f1;
}

/* lessonList.html */

.lesson-class-name {
    position: relative;
    left: -10px;
    top: -65px;
    z-index: 2;
    font-size: 1rem;
}

.lesson-name {
    position: relative;
    left: -10px;
    top: -65px;
    z-index: 2;
}

/* code.html */

.code-input {
    margin: 20px;
    font-size: 1.3rem;
}

.code:focus {
    outline: none;
}

.no-border {
    border: none;
}

/* submitted.html */

.abs-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}