body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
.App {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-left: auto;
    margin-right: auto;
}

.nav {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #eff0f0;
    box-shadow: -10px 0px 5px 3px rgb(207, 207, 207);
    z-index: 10;
}

.nav-button {
    background: none;
    border: none;
    margin: 10px 25px 10px 25px;
    border-radius: 5px;
    padding: 5px 5px;
}
.nav-button:focus {
    outline: none;
    background: none;
}

.circle-top {
    position: absolute;
    left: 0;
    overflow: visible;
    z-index: 0;
}

.circle-bottom {
    position: absolute;
    right: 0;
    bottom: 0;
    overflow: visible;
    z-index: 0;
}

.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
}

.homepage-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 50px 10px 0px 25px;
    width: 350px;
}

.welcome {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    text-align: left;
    position: relative;
    z-index: 1;
}

.your-courses {
    font-weight: bold;
    font-size: 0.9375rem;
    color: #8C8C8C;
    margin: 15px 0px 15px 0px;
    text-align: left;
    width: 380px;
    position: relative;
    left: 30px;
    z-index: 1;
}

.add-class-button {
    background: none;
    border: none;
    border-radius: 100px;
    padding: 0.1875rem 0.625rem 0.1875rem 0.625rem;
    font-size: 1.5rem;
}
.add-class-button:focus {
    outline: none;
    background: none;
}
.add-class-button:hover {
    background: #f1f1f1;
}

.class-name-form {
    width: 105px;
    position: relative;
    bottom: 2px;
}

.class-icon-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 450px;
    margin-top: 50px;
    position: relative;
    z-index: 1;
}

.class-icon {
    background-color: turquoise;
    height: 200px;
    width: 150px;
    margin: 12px 5px 12px 5px;
    overflow: hidden;
    border-radius: 20px;
    color: white;
}
.class-icon:hover {
    box-shadow: 0px 0px 5px 1px rgb(196, 196, 196);
}

.blob {
    position: relative;
    top: -15px;
    left: 30px;
    margin-bottom: 15px;
}

.class-name {
    position: relative;
    left: -5px;
}

.class-mover {
    position: relative;
    bottom: 115px;
    left: 123px;
}