<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <!-- these ellipses are part of the background of every page (except login) -->
        <svg class="circle-top" width="129" height="83" viewBox="0 0 129 83" fill="none" xmlns="http://www.w3.org/2000/svg"><ellipse cx="64" cy="26.5" rx="66.5" ry="56.5" fill="#9EC95D" fill-opacity="0.46"/></svg>
        <svg class="circle-top" width="129" height="83" viewBox="0 0 129 83" fill="none" xmlns="http://www.w3.org/2000/svg"><ellipse cx="10.5" cy="80.5" rx="66.5" ry="56.5" fill="#9EC95D" fill-opacity="0.44"/></svg> 

        <svg class="circle-bottom" width="129" height="83" viewBox="0 0 129 83" fill="none" xmlns="http://www.w3.org/2000/svg"><ellipse cx="115" cy="0" rx="66.5" ry="56.5" fill="#9EC95D" fill-opacity="0.46"/></svg>
        <svg class="circle-bottom" width="129" height="83" viewBox="0 0 129 83" fill="none" xmlns="http://www.w3.org/2000/svg"><ellipse cx="66" cy="55" rx="66.5" ry="56.5" fill="#9EC95D" fill-opacity="0.44"/></svg>
    </body>
</html>