<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <!-- these ellipses are part of the background of every page (except login) -->
        <svg class="circle-top" width="129" height="83" viewBox="0 0 129 83" fill="none" xmlns="http://www.w3.org/2000/svg"><ellipse cx="64" cy="26.5" rx="66.5" ry="56.5" fill="#f7f581" fill-opacity="0.4"/></svg>
        <svg class="circle-top" width="129" height="83" viewBox="0 0 129 83" fill="none" xmlns="http://www.w3.org/2000/svg"><ellipse cx="10.5" cy="80.5" rx="66.5" ry="56.5" fill="#f7f581" fill-opacity="0.58"/></svg> 

        <svg class="circle-bottom" width="129" height="83" viewBox="0 0 129 83" fill="none" xmlns="http://www.w3.org/2000/svg"><ellipse cx="115" cy="0" rx="66.5" ry="56.5" fill="#f7f581" fill-opacity="0.58"/></svg>
        <svg class="circle-bottom" width="129" height="83" viewBox="0 0 129 83" fill="none" xmlns="http://www.w3.org/2000/svg"><ellipse cx="66" cy="55" rx="66.5" ry="56.5" fill="#f7f581" fill-opacity="0.4"/></svg>
    </body>
</html>