<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/createSurvey.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
    </head>
    <body class="App">
        {% include "nav.html" %}
        {% include "circles.html" %}
        <div class="page">
            <div class="homepage-header welcome long">
                <div></div>Create New Survey for<br> {{ className }}</div>
            <form action="{{ url_for('create_survey', className = className) }}" class="align-left" id='create-survey-form' method='post'>
                <label for='survey-title'>Title of Survey:</label><br>
                <input class="input" type='text' id='survey-title' name='survey-title' ><br>
                <label for='survey-question'>Question 1:</label><br>
                <input class="input" type='text' id='survey-question' name='survey-question' ><br>
                <input type = "submit" value = "Create Survey" />
            </form>
        </div>
    </body>
</html>