<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/dashboard.css">
        <link rel="stylesheet" href="/static/css/lesson.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
    </head>
    <body class="App">
        {% include "nav.html" %}
        {% include "circles.html" %}
        <div class="page">
            <div class="header">
                <div class="title">
                    <div>{{ lessonName }}</div>
                    <div class="survey-for">Survey for {{ className }} </div>
                </div>
            </div>
            {% if not feedback %}
                <div class="subtitle">Success!</div>
                <div class="message">Your survey has been created and is<br>ready to be sent to students.</div>
                <img src="/static/img/success.png"/>
            {% endif %}
            <div class="subtitle">Your Survey Code:</div>
            <div class="code">{{ code }}</div>
            <a class="link" href="/goto_code_page">link to survey</a>
            {% if feedback %}
                <div class="subtitle">Student Feedback</div>

                <!-- THE PART BELOW NEEDS TO BE STYLED. WORK ON IT AFTER YOU CAN VIEW LESSONS LIST-->

                <div>Question 1: {{ question }}</div>
                {% for f in feedback %}
                    <div>{{ f[0] }}</div>
                {% endfor %}
            {% endif %}
            <div class="buttons">
                <a href="{{ url_for('lessons') }}" class="back-button">Back to Lessons</a>
                <a href="" class="green-button">Send to Students</a>
            </div>
        </div>
    </body>
</html>