<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/login.css">
    </head>
    <body class="App">
        <img class="logo" src="/static/img/logo.png"/>
        <div class="the-root">The Root</div>
        <div class="login-title">Sign Up</div>
        <form action="{{ url_for('signup') }}" id='sign-up' method='post'>
            <input class="input name" type='text' id='name-input' name='name-input' placeholder='Your Name' required>
            <br>
            <input class="input email" type="text" id="email-input" name="email-input" placeholder='Email' required>
            <br>
            <input class="input password" type="password" id="password-input" name="password-input" placeholder='Password' required>
            <br>
            <input class="submit" type = "submit" value = "Sign Up"/>
        </form>
        <a href="/login" >You already have an account? Login here.</a>
    </body>
</html>