<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/lesson.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
    </head>
    <body class="App">
        <div class='no-nav'>{% include "circles.html" %}</div>
        <div class='page abs-center'>
            <img src="/static/img/success.png"/>
            <div class="subtitle">Success!</div>
            <div class="message">Your answers have been recorded.</div>
        </div>
    </body>
</html>